* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
	color: grey;
}

.indent {
 margin : .5em 3em .5em 3em;
}

.indent2 {
 margin : .5em 4em .5em 4em;
}
.indent3 {
 margin : .5em 5em .5em 5em;
}
.indent4 {
 margin : .5em 6em .5em 6em;
}

.d20t-title {
  margin: 1em!important;
  text-align: center;
}

.d20t-content {
  margin: 1em!important;
}

.navbar .d20t-selected {
  color: #cccccc;
}

.navbar {
  overflow: hidden;
  background-color: #191818;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky; 
  width: 100%;
  min-height: 72px;
  top: 0;
  
}

/* trying to always have d20 float in the corner */
.navbar .LogoHover a img {
	z-index:5;
	position: fixed;
} 
/* trying to always have d20 float in the corner */
.logo {
	z-index:5;
	position: fixed;
} 

/* used to pad the first nav a 
.navbar .firstNav {
  padding: 4px 4px 0px 118px;
} */

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 4px 4px 0px 8px;
  text-decoration: none;
}

.navbar:focus-within a {
 outline: none;
}

/*anchors the page to a span in the content with an id set. this alows inpage jumping below the nav bar */
.d20t-content span{
	position: relative;
	top: -70px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  padding: 4px 4px 0px 8px;
  background-color: inherit;
  font: inherit;
  margin: 0;
  color: #cccccc;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
  color: black;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background-color: #191818;
  padding: 1px;
  color: white;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
  /*nav bar dropdown from top */
}

.column-single {
  float: left;
  width: 100%;
  padding: 5px;
  background-color: #ccc;
  height: 250px;
 /*  height: auto;*/
  overflow-y:auto;
}

.column-single h3{
  text-align: center;
}

.column-single a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.column-single a:hover {
  background-color: #ddd;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%; 
  padding: 5px;
  background-color: #ccc;
  height: 250px;
  /*height: auto;*/
  overflow-y:auto;
}

.column a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    height: auto;
  }
  .column-single {
    width: 100%;
    height: auto;
  }
  table {
        font-size: 1.15em;
	text-align: right;
  }
  .tableTitle {
	margin-left: 5px;
	margin-right: 5px;
  }
}

/* wrap a table with a div to get scrollable table wide */
.d20t-flowx {
	overflow-x:auto;
}

.d20t-flowy {
	overflow-y:auto;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: auto;
	margin-right:auto; 
}
.tableTitle {
        font-size: 1.15em;
	text-align: center;
}

th{
	background-color: #ccc;
	border: 1px solid black;
	color: black;
}
td {
	border: 1px solid black;
}
th, td {
	text-align: center;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;}

tr:hover {
	background-color: #ccc;
	color: black;
}
